.ray-grid-autocomplete-container {
  position: relative;
}
.ray-grid-autocomplete-list {
  width: 100%;
  max-height: 200px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #f5f6fa;
  position: absolute;
  top: 100%;
  right: 0;
}
.ray-grid-autocomplete-list-item {
  cursor: pointer;
  padding: 4px;
}
.ray-grid-autocomplete-highlighted-item {
  background-color: #dcdde1;
}
.ray-grid-autocomplete-selected-item {
  pointer-events: none;
}
